.bs-example{
		margin: 4%;
	}

#myTab{
	font-size: 1.2em;
}

h2{
    margin: 0;     
    color: #404040;
    padding-top: 20px;
    font-size: 45px;
    font-family: "trebuchet ms", sans-serif;    
}
.item{
    background: #3E79AA;    
    text-align: center;
    height: 400px !important;

}
.carousel{

    margin-top: 30px;
}

.carousel-inner img{
	width: 300px;
	position: relative;
	margin: auto;
	margin-top: 15px;
	-moz-box-shadow: 6px 6px 8px rgba(0,0,0,.5);
	-webkit-box-shadow: 6px 6px 8px rgba(0,0,0,.5);
	box-shadow: 6px 6px 6px rgba(0,0,0,.5);
}

.carousel-inner{
	text-align: center;
	
}

#myCarousel
{
	width: 70%;
	margin: auto;
	margin-top: 30px;
	min-width: 500px;
	 -moz-box-shadow: 6px 6px 8px rgba(0,0,0,.5);
	-webkit-box-shadow: 6px 6px 8px rgba(0,0,0,.5);
	box-shadow: 6px 6px 6px rgba(0,0,0,.5);

}

#healthpass{
	text-align: center;
	width: 80%;
	margin: auto;
}
#healthpass li{
	text-align: left;

	}

#last_slide img{
	width: 150px;
	position: relative;
	display: inline-block;
	margin: auto;
	margin-left: 24px;
	

}	

hr{
	width: 60%;
}
#last_slide ul{

	display: inline-block;
	text-align: center;
	list-style: none;
	position: relative;
	top: 25px;

}

#last_slide li{
	
	margin: 10px;
	
}
